{{define "yield"}}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Edit your gallery</h2>
      <a href="/galleries/{{.ID}}">
        View this gallery
      </a>
    <hr>
  </div>
  <div class="col-md-12">
    {{template "editGalleryForm" .}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label class="control-label pull-right">
      images
    </label>
  </div>
  <div class="col-md-10">
    {{template "galleryImages" .}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{template "uploadImageForm" .}}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Dangerous buttons...</h3>
    <hr>
  </div>
  <div class="col-md-12">
    {{template "deleteGalleryForm" .}}
  </div>
</div>
{{end}}

{{define "editGalleryForm"}}
<form action="/galleries/{{.ID}}/update" method="POST" class="form-horizontal">
  {{csrfField}}
  <div class="form-group">
    <label for="title" class="col-md-1 control-label">Title</label>
    <div class="col-md-10">
      <input type="text" name="title" class="form-control" id="title" placeholder="What is the title of your gallery?" value="{{.Title}}">
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
{{end}}

{{define "deleteGalleryForm"}}
<form action="/galleries/{{.ID}}/delete" method="POST" class="form-horizontal">
  {{csrfField}}
  <div class="form-group">
    <div class="col-md-10 col-md-offset-1">
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>
{{end}}

{{define "uploadImageForm"}}
<form action="/galleries/{{.ID}}/images" method="POST" enctype="multipart/form-data" class="form-horizontal">
  {{csrfField}}
  <div class="form-group">
    <label for="images" class="col-md-1 control-label" > Add Images</label>
    <div class="col-md-10">
      <input type="file" multiple="multiple" id="images" name="images">
      <p class="help-block">Please only use jpg, jpeg, and png.</p>
      <button type="submit" class="btn btn-default">Upload</button>
    </div>
  </div>
</form>
{{end}}

{{define "galleryImages"}}
  {{range .ImagesSplintN 6}}
    <div class="col-md-2">
      {{range .}}
        <a href="{{.Path}}">
          <img src="{{.Path}}" class="thumbnail">
        </a>
        {{template "deleteImageForm" .}}
        {{end}}
      </div>
  {{end}}
{{end}}

{{define "deleteImageForm"}}
<form action="/galleries/{{.GalleryID}}/images/{{pathEscape .Filename}}/delete" method="POST">
  {{csrfField}}
  <button type="submit" class="btn btn-default">Delete</button>
</form>
{{end}}
